.wrapper {
  position: relative;
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    position: relative;
    @media (min-width: 769px) {
      justify-content: flex-start;
      padding: 30px 165px;
      gap: 160px;
    }
    & .brandName {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      cursor: pointer;
      min-width: 100px;
      min-height: 25px;
      & span {
        font-family: "Poppins", swap;
        color: rgb(196, 6, 6);
        font-weight: 600;
      }
    }
    & nav {
      display: none;
      @media (min-width: 769px) {
        display: block;
        & ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          gap: 20px;

          & li {
            cursor: pointer;
            position: relative;

            &:hover::after {
              position: absolute;
              content: "";
              width: 90%;
              height: 5px;
              top: 60%;
              left: 0%;
              background-color: yellow;
              z-index: -1;
              font-weight: 700;
            }
          }
        }
      }
    }
    .menu {
      display: block;
      @media (min-width: 769px) {
        display: none;
      }
    }
    .menu-items {
      position: absolute;
      top: 70%;
      left: 70%;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 5px;

      & p {
        margin-bottom: 10px;
      }

      @media (min-width: 769px) {
        display: none;
      }
    }
    & .img-wrapper {
      display: none;
      @media (min-width: 769px) {
        display: block;
      }
      & img {
        display: none;
        @media (min-width: 769px) {
          display: unset;
          width: 500px;
          height: 100%;

          border-radius: 20px;
          filter: grayscale(1) drop-shadow(0 0 5px #000);
          transition: filter 0.5s ease-out;
        }
        &:hover {
          filter: grayscale(0) drop-shadow(0 0 30px #000);
        }
      }
    }
  }
  .banner-container {
    position: relative;
    @media (min-width: 769px) {
      position: absolute;
      top: 25%;
      left: 10%;
    }
    & .heading {
      position: unset;
      font-size: 30px;
      margin-top: 30px;
      padding: 24px 51px;
      text-align: center;
      color: rgb(120, 6, 6);
      @media (min-width: 769px) {
        position: absolute;
        width: 388px;
        top: 300%;
        left: 11%;
        font-size: 51px;
        text-transform: uppercase;
        padding: 0;
        text-shadow: 2px 2px 5px #000;
        text-align: unset;
        &::before {
          content: "";
          position: absolute;
          width: 250px;
          height: 250px;
          top: -130px;
          left: -196px;
          filter: blur(5px);
          z-index: -1;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3Cfilter id=%22grain%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E %3CfeFlood flood-color=%22%23ffffff%22 result=%22neutral-gray%22 %2F%3E %3CfeTurbulence in=%22neutral-gray%22 type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22 %2F%3E %3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22 %3E%3C%2FfeColorMatrix%3E %3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E %3CfeFuncA type=%22table%22 tableValues=%220 0 0.35 0%22%3E%3C%2FfeFuncA%3E %3C%2FfeComponentTransfer%3E %3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22 %2F%3E %3C%2Ffilter%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23FFE53B%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23FF2525%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M744%2C644Q593%2C788%2C351.5%2C785.5Q110%2C783%2C110.5%2C500Q111%2C217%2C363%2C181.5Q615%2C146%2C755%2C323Q895%2C500%2C744%2C644Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg filter=%22url(%23grain)%22 clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M744%2C644Q593%2C788%2C351.5%2C785.5Q110%2C783%2C110.5%2C500Q111%2C217%2C363%2C181.5Q615%2C146%2C755%2C323Q895%2C500%2C744%2C644Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
          animation: blob 8s infinite linear;
        }
      }
    }
  }
}

.typed-cursor {
  display: none;
  opacity: 0 !important;
}

@keyframes blob {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
